@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{

    padding:0px;
    margin: 0px;
    
}
body {
       background-image: url('bg2.jpg');  /* Path to your image */
      background-size: cover;            /* Make it fill the screen */
     background-position: center;       /* Center the image */
    background-repeat: no-repeat; 
  font-family: poppins,sans-serif;
    }
    
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
    padding: 20px;
    border-radius: 10px;
    /*color: white;  Text color */
}
#features{

     font-family: poppins,sans-serif;
     font-style: oblique;
     font-weight: 600;


}